In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [7]:
dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [9]:
inde = dataset[['User ID', 'Age', 'EstimatedSalary', 'Gender_Male']]
dep = dataset[['Purchased']]

In [10]:
inde.shape

(400, 4)

(400, 4)

In [11]:
dep.shape

(400, 1)

(400, 1)

In [12]:
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(inde, dep, test_size = 1/3, random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test= sc.transform(x_test)

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_grid = {'criterion': ['gini', 'entropy','log_loss'],
             'splitter': ['best','random'],'max_features':['auto','sqrt','log2']}

grid =GridSearchCV(DecisionTreeClassifier(), param_grid, refit=True, verbose=3 ,n_jobs=-1,scoring = 'f1_weighted')

In [18]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
16 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.85246571 0.80707156 0.82712903 0.80009383
        nan        nan 0.81886643 0.82933923 0.84880771 0.79550328
        nan        nan 0.83318963 0.7838375  0.84084736 0.80032918]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
16 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.85246571 0.80707156 0.82712903 0.80009383
        nan        nan 0.81886643 0.82933923 0.84880771 0.79550328
        nan        nan 0.83318963 0.7838375  0.84084736 0.80032918]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [19]:
re = grid.cv_results_

grid_predictions= grid.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,grid_predictions)

In [21]:
print(cm)

[[77  8]
 [ 8 41]]
[[77  8]
 [ 8 41]]

In [22]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        85
           1       0.84      0.84      0.84        49

    accuracy                           0.88       134
   macro avg       0.87      0.87      0.87       134
weighted avg       0.88      0.88      0.88       134

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        85
           1       0.84      0.84      0.84        49

    accuracy                           0.88       134
   macro avg       0.87      0.87      0.87       134
weighted avg       0.88      0.88      0.88       134

In [24]:
from sklearn.metrics import f1_score
f1_macro=f1_score (y_test, grid_predictions, average= 'weighted' )
print("the f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

the f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}: 0.8805970149253731
the f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}: 0.8805970149253731

In [25]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.8713085234093638

0.8713085234093638

In [26]:
table=pd.DataFrame.from_dict(re)

In [27]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001399,0.001019,0.000000,0.000000,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.001202,0.000249,0.000000,0.000000,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.004997,0.000636,0.016540,0.003533,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.843811,0.813511,0.852044,0.887907,0.865054,0.852466,0.024524,1
3,0.005410,0.001601,0.017445,0.009124,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.808927,0.849057,0.777291,0.773585,0.826499,0.807072,0.028816,8
4,0.004771,0.001364,0.013487,0.002958,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.743022,0.868752,0.814409,0.847020,0.862442,0.827129,0.046067,6
5,0.004102,0.001291,0.016789,0.003650,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.782557,0.828959,0.694040,0.850543,0.844370,0.800094,0.058127,10
6,0.001204,0.000400,0.000000,0.000000,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.001604,0.001196,0.000000,0.000000,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.004397,0.001361,0.012692,0.001724,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.799620,0.808392,0.833323,0.826499,0.826499,0.818866,0.012694,7
9,0.005372,0.001620,0.010406,0.001057,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.812243,0.787284,0.773585,0.886792,0.886792,0.829339,0.048521,5
10,0.005013,0.000324,0.013588,0.001250,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.811321,0.870362,0.832483,0.903610,0.848808,0.033609,2
11,0.006156,0.003874,0.020064,0.008579,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.812243,0.832918,0.851527,0.727648,0.753180,0.795503,0.047359,11
12,0.001003,0.000004,0.000000,0.000000,log_loss,auto,best,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.001268,0.000438,0.000000,0.000000,log_loss,auto,random,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.005262,0.000983,0.016493,0.001661,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.804764,0.831253,0.831098,0.869709,0.829124,0.833190,0.020815,4
15,0.004582,0.001181,0.017302,0.003234,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.743022,0.815037,0.648126,0.844370,0.868632,0.783837,0.079889,12
16,0.006327,0.003534,0.015950,0.003127,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",0.829615,0.790949,0.833323,0.887907,0.862442,0.840847,0.032722,3
17,0.005204,0.000749,0.013468,0.002224,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",0.887346,0.793754,0.777291,0.787943,0.755313,0.800329,0.045444,9

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001399,0.001019,0.000000,0.000000,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.001202,0.000249,0.000000,0.000000,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
2,0.004997,0.000636,0.016540,0.003533,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.843811,0.813511,0.852044,0.887907,0.865054,0.852466,0.024524,1
3,0.005410,0.001601,0.017445,0.009124,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.808927,0.849057,0.777291,0.773585,0.826499,0.807072,0.028816,8
4,0.004771,0.001364,0.013487,0.002958,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.743022,0.868752,0.814409,0.847020,0.862442,0.827129,0.046067,6
5,0.004102,0.001291,0.016789,0.003650,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.782557,0.828959,0.694040,0.850543,0.844370,0.800094,0.058127,10
6,0.001204,0.000400,0.000000,0.000000,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
7,0.001604,0.001196,0.000000,0.000000,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
8,0.004397,0.001361,0.012692,0.001724,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.799620,0.808392,0.833323,0.826499,0.826499,0.818866,0.012694,7
9,0.005372,0.001620,0.010406,0.001057,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.812243,0.787284,0.773585,0.886792,0.886792,0.829339,0.048521,5
10,0.005013,0.000324,0.013588,0.001250,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.811321,0.870362,0.832483,0.903610,0.848808,0.033609,2
11,0.006156,0.003874,0.020064,0.008579,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.812243,0.832918,0.851527,0.727648,0.753180,0.795503,0.047359,11
12,0.001003,0.000004,0.000000,0.000000,log_loss,auto,best,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.001268,0.000438,0.000000,0.000000,log_loss,auto,random,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
14,0.005262,0.000983,0.016493,0.001661,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.804764,0.831253,0.831098,0.869709,0.829124,0.833190,0.020815,4
15,0.004582,0.001181,0.017302,0.003234,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.743022,0.815037,0.648126,0.844370,0.868632,0.783837,0.079889,12
16,0.006327,0.003534,0.015950,0.003127,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",0.829615,0.790949,0.833323,0.887907,0.862442,0.840847,0.032722,3
17,0.005204,0.000749,0.013468,0.002224,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",0.887346,0.793754,0.777291,0.787943,0.755313,0.800329,0.045444,9

In [16]:
import sklearn
print(sklearn.__version__)

1.3.1
1.3.1