In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [7]:
dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [9]:
inde = dataset[['User ID', 'Age', 'EstimatedSalary', 'Gender_Male']]
dep = dataset[['Purchased']]

In [10]:
inde.shape

(400, 4)

In [11]:
dep.shape

(400, 1)

In [12]:
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(inde, dep, test_size = 1/3, random_state=0)

In [15]:
from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import RandomForestClassifier

param_grid = {'criterion': ['gini', 'entropy','log_loss'],
             'max_features':['sqrt','log2'], 'n_estimators' : [10,50,100] }

grid =GridSearchCV(RandomForestClassifier(), param_grid, refit=True, verbose=3 ,n_jobs=-1,scoring = 'f1_weighted')

TypeError: RandomForestClassifier.__init__() got an unexpected keyword argument 'probability'

In [ ]:
grid.fit(x_train,y_train)

In [ ]:
re = grid.cv_results_

grid_predictions= grid.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

In [ ]:
print(cm)

In [ ]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [ ]:
print(clf_report)

In [ ]:
from sklearn.metrics import f1_score
f1_macro=f1_score (y_test, grid_predictions, average= 'weighted' )
print("the f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

In [ ]:
table=pd.DataFrame.from_dict(re)

In [ ]:
table

In [ ]:
print(grid.best_params_)