In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [6]:
inde = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dep = dataset[['classification_yes']]

In [7]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [8]:
inde.shape

(399, 27)

In [9]:
dep.shape

(399, 1)

In [10]:
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(inde, dep, test_size = 1/3, random_state=0)

In [12]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x_train,y_train)

C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [13]:
y_pred = classifier.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [15]:
print(cm)

[[50  1]
 [ 1 81]]

In [16]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [17]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [18]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,classifier.predict_proba(x_test)[:,1])

0.9997608799617408

In [20]:
import pickle # for saving the best model from grid search cv
filename="finalized_RF_CKD.sav"
pickle.dump(classifier,open(filename,'wb'))

In [21]:
loaded_model=pickle.load(open("finalized_RF_CKD.sav",'rb'))

In [24]:
age = input("age ")
bp = input("bp ")
al= input ("al ")
su = input("su ")
bgr =  input("bgr ")
bu= input("bu ")
sc= input("sc ")
sod = input("sod ")
pot = input("pot ")
hrmo =  input("hrmo ")
pcv= input("pvc ")
wc = input("wb ")
rc=input("rc ")
sg_b=input("sg_b ")
sg_c=input("sg_c")
sg_d=input("sg_d ")
sg_e=input("sg_e ")
rbc_normal=input("rbc ")
pc_normal=input("pc_normal ")
ppc_present =input("ppc_present ")
ba_present=input("ba_present ")
htn_yes=input("htn_yes ")
dm_yes=input("dm_yes ")
cad_yes=input("cad_yes ")
appet_yes=input("appet_yes ")
pe_yes=input("pe_yes ")
ane_yes = input('ane_yes')

age 2
bp 76
al 3
su 0
bgr 148.1127
bu 57.48211
sc 3.077356
sod 137.528
pot 4.627244
hrmo 12.51816
pvc 38.6889
wb 8408.191
rc 4.705597
sg_b 0
sg_c1
sg_d 0
sg_e 0
rbc 1
pc_normal 0
ppc_present 0
ba_present 0
htn_yes 0
dm_yes 0
cad_yes 0
appet_yes 1
pe_yes 1
ane_yes0

In [29]:
result=loaded_model.predict([[age, bp, al, su,bgr, bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,
       ppc_present,ba_present,htn_yes,dm_yes,cad_yes,
       appet_yes, pe_yes, ane_yes]])

C:\Users\2155586\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [30]:
result

array([1], dtype=uint8)