In [1]:
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('Book1.csv')

In [3]:
dataset

   match  balls  four  strike rate  six  runs
0      1    116     6        73.28    0    85
1      2     56     6        98.10    0    55
2      3     18     3        88.89    0    16
3      4     97     6       106.19    4   103
4      5     95     8        91.35    2    95
5      6      9     0         0.00    0     0
6      7     94    11        93.62    0    88

In [4]:
independent=dataset[['balls', 'four', 'six']]

In [5]:
dependent=dataset[['runs']]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
independent= sc.fit_transform(independent)

In [6]:
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeRegressor

param_grid = {'criterion': ['squared_error', 'friedman_mse','absolute_error','poison'],
             'splitter': ['best','random']}

grid =GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3 ,n_jobs=-1)

In [ ]:
grid.fit(independent,dependent)

In [ ]:
re=grid.cv_results_
print("the R_score value for the best parameter {}:".format(grid.best_params_))

In [ ]:
independent

In [ ]:
grid_predictions=grid.predict(independent)

from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)

In [ ]:
r_score

In [ ]:
filename="finalized_dt.sav"
pickle.dump(grid,open(filename,'wb'))

In [ ]:
loaded_model=pickle.load(open("finalized_dt.sav",'rb'))
result=loaded_model.predict([[121,10,0,83.47]])

In [ ]:
result

In [ ]:
sc_x=sc.transform([[121,100,0]])

In [ ]:
sc_x